--extra-index-url https://download.pytorch.org/whl/cu130

accelerate==1.13.0
batchgenerators==0.25.2
batchgeneratorsv2==0.3.2
bitsandbytes==0.49.2
datasets==4.8.2
einops==0.8.2
matplotlib==3.10.9
nibabel==5.4.2
nnunetv2==2.7.0
numpy==2.4.3
opencv-python==4.13.0.92
openpyxl==3.1.5
pandas==3.0.1
peft==0.18.1
pillow==12.0.0
protobuf==6.33.6
pyarrow==23.0.1
safetensors==0.7.0
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
simpleitk==2.5.5
torch==2.10.0+cu130
torchvision==0.25.0+cu130
tqdm==4.67.3
transformers==5.2.0
triton==3.6.0
ultralytics==8.4.51
